.hero {
	height: auto;
	min-height: 100vh;

	@media (max-width:$mobile) {
		h1.text-5xl {
			font-size: 3rem;
			line-height: 1.2;
		}
	}
}

.hero-bg {
	background-size: cover;
	background-position: center center
}

.hero-container {
	padding-top: rem(100);
	padding-bottom: rem(120);
	// height: auto;
	// min-height: 100vh;
	// box-sizing: border-box;
}