.hero {
	height: auto;
	min-height: 100vh;

	@media (max-width:$mobile) {
		h1.text-5xl {
			font-size: 3rem;
			line-height: 1.2;
		}
	}
}

.stars:not(:has(.flex .fill-yellow-400)) {
	display: none;
}


.hero-bg {
	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.hero-container {
	padding-top: rem(100);
	padding-bottom: rem(120);
	// height: auto;
	// min-height: 100vh;
	// box-sizing: border-box;
}

.section-spollers {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

// Блок со спойлерами
.spollers {
	display: grid;
	gap: rem(15);

	a {

		--tw-text-opacity: 1;
		color: rgb(34 197 94 / var(--tw-text-opacity, 1));

		&:hover,
		&:focus {

			text-decoration: underline;
		}

	}
}

// Спойлер
.spollers__item {
	// font-size: rem(20);
}

// Заголовок спойлера
.spollers__title {
	width: 100%;
	cursor: default;
	text-align: left;
	border: rem(1) solid #eee;
	padding: rem(10) rem(15);
	border-radius: rem(5);
	position: relative;

	._spoller-init & {
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			position: absolute;
			right: rem(10);
			top: 50%;
			background-color: #000;
			height: rem(2);
			width: rem(10);
			transition: transform 0.5s ease 0s;
		}

		&::before {
			transform: translate(-75%, -50%) rotate(40deg);
		}

		&::after {
			transform: translate(0, -50%) rotate(-40deg);
		}

		&._spoller-active {
			&::before {
				transform: translateX(-75%) rotate(-40deg);
			}

			&::after {
				transform: rotate(40deg);
			}
		}

		/*
		._spoller-init & {
			position: relative;
			width: 100%;
			text-align: left;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: rem(12);
				height: rem(1);
				transition: all 0.3s ease 0s;
				width: rem(10);
				background-color: #000;
			}
			&::before {
				transform: rotate(40deg);
				right: rem(7);
			}
			&::after {
				transform: rotate(-40deg);
			}
		}
		&._spoller-active {
			&::before {
				transform: rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
		*/
	}
}

// Контент спойлера
.spollers__body {
	padding: rem(20);
	border-radius: rem(5);
	border: rem(1) solid #eee;
}



.card-description {
	margin-bottom: rem(12);

	.wp-block-list {
		margin-bottom: 0;
	}

	ul {
		margin-top: rem(8);
		padding-left: rem(24);
		--tw-text-opacity: 1;
		list-style-type: disc;
		margin-bottom: 1rem;
		color: rgb(75 85 99 / var(--tw-text-opacity, 1));
	}

	ol {
		margin-top: rem(8);
		list-style-type: auto;
		padding-left: rem(24);
		margin-bottom: 1rem;
		color: rgb(75 85 99 / var(--tw-text-opacity, 1));
	}
}

.card__field:has(.card__value:empty) {
	display: none;
}

.card__texts {
	flex-grow: 2;
	display: flex;
	flex-direction: column;

}

.card__stars {}

.card__button {
	margin-left: auto;
}

.card__wrapper-info {
	margin-top: auto;

	@media (min-width:em(1024)) {
		min-height: rem(72);
	}
}

.why__texts {
	p {
		margin-bottom: 1rem;
	}

	a {
		--tw-text-opacity: 1;
		color: rgb(34 197 94 / var(--tw-text-opacity, 1));

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

iframe {
	max-width: 100% !important;
}

center iframe {
	margin-left: auto;
	margin-right: auto;
	display: block;
}


.content {
	table {
		border-collapse: collapse;
		margin-top: rem(32);
		border-radius: rem(10);
		border: rem(1) solid transparent;
		overflow: hidden;
		background: transparent;
		position: relative;
		display: inline-block;
		--bgcolor: #f8fafc;
		--fontcolor: #000;
		overflow-x: auto;

		&.article__block--table table {
			margin-bottom: rem(8);
		}

		img {
			display: inline-block;
		}
	}

	thead {
		tr th {
			background-color: #1d365c;
			padding: rem(18) rem(24);
			color: #fff;
			font-weight: 600;
			font-size: rem(14);
			line-height: 1.25;

			&:first-child {
				border-radius: rem(10) 0 0 0;
			}

			&:last-child {
				border-radius: 0 rem(10) 0 0;
			}
		}
	}

	tbody>tr:first-child td {
		background-color: #1d365c;
		padding: rem(18) rem(24);
		color: #fff;
		font-weight: 600;
		font-size: rem(14);
		line-height: 1.25;

		&:first-child {
			border-radius: rem(10) 0 0 0;
		}

		&:last-child {
			border-radius: 0 rem(10) 0 0;
		}
	}

	thead+tbody>tr:first-child td {
		background-color: inherit;
		padding: rem(24) rem(24);
		font-weight: 400;
		font-size: rem(14);
		line-height: 1.25;
		color: var(--fontcolor);
	}

	tbody {
		font-weight: 400;
		font-size: rem(14);
		line-height: 1.25;
		color: var(--fontcolor);

		tr:nth-last-child(2n + 1) {
			background-color: #ededed;
		}

		tr:nth-last-child(2n + 2) {
			background-color: #f8fafc;
		}

		td {
			padding: rem(24) rem(24);
		}
	}

	table {
		td>* {
			display: block;
			padding-top: 0;
			padding-bottom: 0;
		}

		td>*:not(:last-child) {
			margin: 0 0 rem(10) 0;
		}

		td>*:empty {
			min-height: rem(5);
		}

		td>ul>li,
		td>ol>li {
			padding-top: 0;
			padding-bottom: 0;
		}

		td>ul>li:not(:last-child),
		td>ol>li:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
}

.button-read {
	max-width: max-content;
	margin-bottom: rem(24);
}