.section {}



.breadcrumbs {
	padding-top: rem(50);
	line-height: 1.3;
	font-size: rem(16);

	a {

		&:hover,
		&:focus {
			color: #10B981;

		}
	}



	svg {
		display: inline-block;
		width: rem(16);
		height: rem(16);
		margin-bottom: rem(2);

	}
}

.single-tours .breadcrumbs {
	padding-top: rem(120);
	margin-bottom: rem(40);

	@media (max-width:$mobile) {
		padding-top: rem(120);
	}
}

.single-tours header {
	background: rgba(13, 25, 54, 0.95);
}

.tour-hero__container {}

.tour-hero__wrapper {
	@media (min-width:$mobile) {
		display: flex;
		align-items: start;
		gap: rem(24);
	}
}

.tour-hero__texts {
	@media (min-width:$mobile) {
		flex: 0 1 50%;
	}
}

.tour-hero__image {
	margin-bottom: rem(20);

	@media (min-width:$mobile) {
		flex: 0 1 50%;
	}



	img {
		aspect-ratio: 344 / 230;
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
		border-radius: rem(8);
	}
}

.tour-hero__texts {}

.tour-hero__title {
	@media (min-width:$mobile) {
		font-size: rem(32);
		line-height: 1.3;
	}
}

.tour-hero__description {}

.tour-hero__info {
	display: flex;
	flex-direction: column;
	gap: rem(12);
}

.tour-hero__stars {
	span.font-medium {
		font-size: rem(16);
		padding-top: rem(2);
	}
}

.tour-hero__price {}

.tour-hero__data {
	gap: rem(24);
}

.tour-hero__button {
	margin-left: 0;
	margin-right: auto;
	margin-top: rem(10);
}

.tour-content__container {
	&>* {
		max-width: rem(800);
	}
}

.content-block {
	margin-bottom: rem(50);

}

.content-block__description {

	p,
	ul,
	ol {
		color: inherit;
	}

	.correct li {
		list-style: none;
		position: relative;

		&::before {
			content: '';
			display: block;
			position: absolute;
			width: rem(20);
			height: rem(20);
			top: rem(2);
			left: rem(-25);
			background-image: url(/wp-content/themes/tromso/assets/img/icons/ok.svg);
			background-repeat: no-repeat;
			background-size: contain;
		}
	}

	.not-correct li {
		list-style: none;
		position: relative;

		&::before {
			content: '';
			display: block;
			position: absolute;
			width: rem(20);
			height: rem(20);
			top: rem(2);
			left: rem(-25);
			background-image: url(/wp-content/themes/tromso/assets/img/icons/not.svg);
			background-repeat: no-repeat;
			background-size: contain;
		}
	}



}

.content-block__wrapper {
	@media (min-width:$mobile) {
		display: flex;
		gap: rem(24);

		>* {
			flex-basis: 50%;
		}
	}
}

.number {
	counter-reset: li;

	ol {
		color: rgb(17 24 39/var(--tw-text-opacity, 1));
		padding-left: rem(50);
	}

	li {
		list-style: none;
		position: relative;
		margin-top: rem(20);
		display: block;

		&::before {
			counter-increment: li;
			content: counter(li);
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			color: #fff;
			line-height: 1;
			font-size: rem(14);
			background-color: #000;
			top: rem(-6);
			left: rem(-50);
			width: rem(36);
			height: rem(36);


		}
	}
}

.tour-reviews,
tour-content__content {
	>* {

		max-width: 50rem;
	}
}

.tour-reviews__wrapper {
	@media (min-width:$mobile) {
		display: flex;
		// align-items: baseline;
		gap: rem(32);

		>*,
		h2 {
			margin: 0;
		}
	}
}

.tour-reviews__number {
	font-size: 32px;
	line-height: 1;
	order: -1;
	margin-right: rem(10);
}

.tour-content__container {}